/* здесь используйте глобальные переменные */
$base-color-text: #444444;

$bg-base-green: #68b738;

$base-catalog-fon: #f2f2f2;

$base-black-text: #000000;

$base-light-color: #ffffff;

$base-gray-foh: #eaeaea;
