.banner {
  background-color: $bg-base-green;
  background-image: url("../../images/banner_bg_image_mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url("../../images/banner_bg_image_tablet@2x.jpg");
  }

  @media (min-width: 1440px) {
    background-image: url("../../images/banner_bg_image_desktop@2x.jpg");
  }
}

.banner__title {
  font-size: 16px;
  line-height: 20px;
  color: $base-light-color;
  text-align: center;
  padding: 0 60px 43px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.banner__title::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_present");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 93px 50px;
  display: block;

  @media (min-width: 768px) {
    padding: 93px 50px;
  }
}
