.catalog {

}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: $base-black-text;
  text-align: left;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__item {
  @media (min-width: 768px) {
    background-color: $base-catalog-fon;
  }
}

.catalog__item-link {

}

.catalog__item-image {

}

.catalog__item-order-link {
  text-decoration: none;
}

.catalog__item-order {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__button {

}
