.catalog {

}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: left;
}

.catalog__item {

}

.catalog__item-link {

}

.catalog__item-image {

}

.catalog__item-order-link {
  text-decoration: none;
}

.catalog__item-order {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
}

.catalog__button {

}
