.catalog {

}

.catalog-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: left;
}

.catalog-item {

}

.catalog-item__link {

}

.catalog-item__image {

}

.catalog-item__order-link {
  text-decoration: none;
}

.catalog-item__order {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
}

.catalog__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
