.example {
  background-color: $base-gray-foh;

  @media (min-width: 768px) {
    background-image: linear-gradient(#ffffff 40%, #eaeaea 40%);
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $base-black-text;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
  }
}

.example__subtitle {
  margin-bottom: 20px;
  text-align: left;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 32px;
  list-style-type: none;

  @media (min-width: 768px) {
    grid-template-columns: 170px 170px;
    grid-gap: 43px;
  }
}

.example__item {

}

.example__cost {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: $base-black-text;
  text-transform: uppercase;
  padding-left: 44px;


  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 218px;
    text-align: right;
    position: relative;
    bottom: 95px;
    right: -490px;
  }
}

.example__container {
}
