.instructions {

  margin-bottom: 49px;
}

.instructions__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $base-black-text;
  text-align: left;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.instructions__list {
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 37px 153px;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 95px;
  }
}

.instructions__item {
  display: grid;
  grid-template-columns: 60px 200px;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 20px 0;

  @media (min-width: 768px) {
    display: block;
  }
}

.instructions__item::before {
  background-color: $bg-base-green;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: block;
}

.item-leaf::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_leaf");
  background-size: 25px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.item-powder::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_powder");
  background-size: 24px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.item-cutlery::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_cutlery");
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.item-clock::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_clock");
  background-size: 26px 31px;
  background-repeat: no-repeat;
  background-position: center;
}

.instructions__subtitle {
  text-align: left;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}
