.item-info {

}

.item-info__title {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.item-info__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
