.item-info {
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

}

.item-info__title {

}

.item-info__description {

}
