.map {
  width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    margin: 0 auto;
  }
}

.map__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address {
  font-style: normal;
  line-height: 20px;
  text-align: left;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;

  }
}

.map-container {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.map_image {
}
