.programs {

  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.programs__list {
  list-style-type: none;

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 80px;
  }
}

.programs__item {
  background-color: $base-catalog-fon;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    min-width: 708px;
    width: auto;
    margin-bottom: 30px;
  }

  @media (min-width: 1440px) {
    min-width: 570px;
    margin-bottom: 71px;
  }
}
