.promotion {

}

.promotion__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.promotion__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.promotion__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.promotion__button {
  font-size: 20px;
  line-height: 26px;
}
