.promotion {

}

.promotion__title {
  position: relative;
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $base-black-text;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 32px;
  box-shadow: -40px 0 #ffffff;
  width: 192px;


  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 32px;
    width: 341px;
  }

  @media (min-width: 1440px) {
    font-size: 40px;
    line-height: 40px;
    width: 416px;
  }
}

.promotion__title::before {
  content: "";
  z-index: -1;
  background-color: #68b738;
  position: absolute;
  width: 768px;
  height: 2px;
  top: 50px;
  right: -250px;

  @media (min-width: 768px) {
    top: 60px;
    width: 1440px;
    left: -500px;
  }

  @media (min-width: 1440px) {
    top: 60px;
    width: 4000px;
    left: -1500px;
  }
}

.promotion__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $base-black-text;
  text-align: center;
  padding-bottom: 24px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
    margin: 0 auto;
  }
}

.promotion__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  width: 275px;
  height: 56px;
  padding-left: 10px;

  @media (min-width: 768px) {
    width: 376px;
  }
}

.promotion__button {
  font-size: 20px;
  line-height: 26px;
  border: none;
  padding: 15px 81px;
  margin: 16px 0 40px;

  @media (min-width: 768px) {
    padding: 15px 69px;
  }
}
