.statistic {

}

.statistic__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.statistic__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
}
